
    
    
    .home {
        max-width: 800px; /* Set the max width for the home container */
        margin: auto; /* Center the home container */
      }
      
      .post {
        border: 1px solid #ddd;
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 5px;
        max-width: 500px; /* Set the max width for the post container */
        margin: auto; /* Center each post */
      }
      
      .post img {
        border-radius: 5px;
        margin-top: 10px;
        max-width: 100%; /* Ensure the image fits within the post container */
      }
      